.About-container h1 {
  color: hsl(0, 0%, 28%);
  font-size: 50px !important;
  font-weight: bold !important;
  font-family: monospace;
  letter-spacing: 7px !important;
  cursor: pointer;
  text-transform: uppercase;
}

.About-container h1 {
  padding: 64px;
  background: linear-gradient(
    to right,
    hsl(253, 73%, 46%) 0,
    hsl(10, 0%, 100%) 10%,
    hsl(0, 0%, 30%) 20%
  );
  -webkit-background-clip: text;
  background-clip: text; /* Update the value to 'text' */
  -webkit-text-fill-color: transparent;
  animation: shine 5s infinite linear;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}

.About-container p {
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.5;
  display: flex;
}

@media screen and (max-width: 640px) {
  .grid-container {
    grid-template-columns: 1fr;
    display: block;
  }
}

.left-box {
  /* Styles for left box */
}

.right-box {
  display: block;
  /* Styles for right box */
}
/* .portfolio-text {
    font-size: 16px;
    line-height: 1.4;
  } */

/* @media (max-width: 480px) {
  .portfolio-text {
    font-size: 14px;
    line-height: 1.3;
  }
} */

.grid-container {
  display: grid;
  margin: 1rem 1.5rem;
  grid-template-columns: 1fr;
  gap: 10rem;
}

.grid-container h1 {
  font-size: 2rem;
  color: #fff;
}

.left-box {
  text-align: center;
}

.left-box h1 {
  color: hsl(0, 2%, 53%);
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer;
}

.left-box h1 span {
  transition: 0.5s ease-out;
}
.left-box h1:hover span:nth-child(1) {
  margin-right: 5px;
}
.left-box h1:hover span:nth-child(1):after {
  content: "";
}
.left-box h1:hover span:nth-child(2) {
  margin-left: 30px;
}
.left-box h1:hover span {
  color: #fff;
  text-shadow: 0 0 10px #b9adad, 0 0 20px #7b6f6f, 0 0 40px #8d7979;
}

.white-box-left {
  width: 1fr; /* Adjust the width as needed */
  height: 100%; /* Adjust the height as needed */
  border: 1px solid white;
  color: aqua;
  display: inline-block;
}

.right-box {
  text-align: center;
}

.right-box h1 {
  color: hsl(0, 2%, 53%);
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer;
}

.right-box h1 span {
  transition: 0.5s ease-out;
}
.right-box h1:hover span:nth-child(1) {
  margin-right: 5px;
}
.right-box h1:hover span:nth-child(1):after {
  content: "";
}
.right-box h1:hover span:nth-child(2) {
  margin-left: 30px;
}
.right-box h1:hover span {
  color: #fff;
  text-shadow: 0 0 10px #b9adad, 0 0 20px #7b6f6f, 0 0 40px #8d7979;
}
.white-box-right {
  width: 1fr; /* Adjust the width as needed */
  height: 100%; /* Adjust the height as needed */
  border: 1px solid white;
}
