.Project-heading {
  text-align: center;
  padding: 4rem 0 2rem 0;
}

.Pro-details {
  display: block;
  margin: 1rem;
}

.text-block {
  flex: 1;
}
.Pro-btns {
  display: flex;
  padding: 1.5rem;
}
.Pro-btns .btn {
  padding: 0.5 3rem;
}

.Project-heading {
  font-family: "YourFancyFont", cursive;
  color: skyblue;
}

.glow-effect {
  position: relative;
  text-shadow: 0 2px 4px rgba(135, 206, 250, 0.8),
    0 -2px 4px rgba(135, 206, 250, 0.8);
  box-shadow: 0 2px 4px rgba(135, 206, 250, 0.8),
    0 -2px 4px rgba(135, 206, 250, 0.8);
  width: auto;
}

@media screen and (max-width: 768px) {
  .Project-card1 {
    display: flex;
    flex-direction: column;
  }
  .Project-card2 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .Project-card3 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .text-block {
    font-size: 1rem;
  }
  .content-container {
    display: block;
    padding: 20px;
  }

  .image-container img {
    padding: 10px;
  }

  .Pro-btns {
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
  }

  .Pro-details {
    padding: 1rem;
  }
}

.Pro-btns {
  display: flex;
  padding: 1rem 12rem;
}

.Project-card1 {
  display: flex;
  /* flex-wrap: wrap; */

  padding: 0 2rem;
}
.Project-card2 {
  display: flex;
  /* flex-wrap: wrap; */

  padding: 0 2rem;
}
.Project-card2 img {
  width: 70rem;
}
.Project-card3 {
  display: flex;
  /* flex-wrap: wrap; */

  padding: 0 2rem;
}
.Project-card3 img {
  width: 77rem;
}

/* .image-container {
  flex: 0 0 300px;
  margin-right: 2rem;
}

.image-container img {
  width: 100%;
  height: auto;
} */
